0 0 * * * python manage.py clearsessions
0 0 * * * python manage.py dumpdata --natural-foreign --exclude contenttypes.contenttype --exclude auth.permission --indent 2 --output backup.json

# An empty line is required at the end of this file for a valid cron file.

# An empty line is required at the end of this file for a valid cron file.
